body {
    background-color: rgb(190, 156, 156);
    overflow-x: visible;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.video-container {
    margin-top: -9px;
}

.inputlabel {
    font-size: 19px;
    padding-right: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.bg-form {
    background: black;
    width: 446px;
    height: 35px;
    margin-left: 38.5vw;
    margin-top: -28px;
    border-radius: 11px;
}

.form {
    margin-top: 9px;
    margin-left: 38vw;
    padding-left: 15px;
    color: white;
}

.header {
    text-align: center;
    background: black;
    color: white;
    font-size: 24px;
    padding: 10px 0px 10px 0px;
    width: 16vw;
    margin: auto;
    border-radius: 10px;
}
iframe {
    width: 24.8cm;
    height: 14cm;
    margin-left: 0.2cm;
    border-radius: 19px;
    margin-top: 22px;
}
.btn {
    border-radius: 7px;
    border: none;
    width: 2.2cm;
    height: 22px;
    font-size: 15px;
    font-family: system-ui;
}

.btn1 {
    border-radius: 7px;
    border: black;
    border-style: groove;
    font-family: monospace;
    font-size: 15px;
    height: 27px;
    width: 64px;
    margin-left: 6px;
}

.btn2 {
    border-radius: 7px;
    font-size: initial;
    border: none;
    background: white;
}

.btn3 {
    border-radius: 7px;
    border: none;
}

.clip {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1cm;
    margin-left: 17px;
}

.search {
    display: inline-flex;
}

.text-se {
    font-size: 10px;
}
.clip img {
    width: 93px;
    height: auto;
    margin-right: 10px;
    border-radius: 21px;
}

.playlist {
    margin-left: 25.5cm;
    margin-top: -555px;
    height: 14cm;
    width: 13.8cm;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background: white;
}

.results-container {
    padding-left: 11px;
    margin-top: 0.3cm;
    justify-content: space-around;
    margin-bottom: 12px;
}

.txtinput {
    font-family: emoji;
    width: 125px;
    height: 19px;
    border-radius: 8px;
    border: none;
    padding-left: 8px;
}

.searchmenu {
    margin-top: -16.9cm;
    width: 10cm;
    height: 67.25cm;
    margin-left: 40.1cm;
    border-color: red;
    border-radius: 10px;
    border-style: solid;
    padding-top: 4px;
}

.clearPlaylist {
    border-radius: 7px;
    border: none;
}